img{
    width: 30%;
    height: 30%;
    float: left ;
    margin: 1.66%;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    border-radius: 2px solid red;
    padding-bottom: 20px;
}